section.about__content
    .about__container
        .about__top-desc
            .about__title About us
            .about__title-desc
                p.about__title-desc-p Our caring and experienced professionals are here to support you. We offer a range of personalized services to suit your family’s wishes and requirements, and whether it is a traditional funeral or direct cremation, you can count on us to help  you plan a personal, lasting tribute to your loved one. We will carefully guide you through the Please feel free to call us at any time of the day, any day of the week, for immediate assistance. Or, visit our funeral home in person at your convenience. We also provide a wealth of information here on our web site so you can learn more from the privacy of your own home
        .about__slider-small_device
            ul.about__slider-small_device--list
                li.about__slider-small_device--item.active-slide
                    img(src="/assets/img/chapel-m.jpg" alt="funeral home chapel").about__slider-small_device--img
                li.about__slider-small_device--item
                    img(src="/assets/img/limo-m.jpg" alt="funeral home hears").about__slider-small_device--img
                li.about__slider-small_device--item
                    img(src="/assets/img/lobby-m.jpg" alt="funeral lobby").about__slider-small_device--img
                li.about__slider-small_device--item
                    img(src="/assets/img/conf.jpg" alt="funeral conference room").about__slider-small_device--img
            ul.about__slider-small_device--dots
                li.about__slider-small_device--dots_item.active-dot
                li.about__slider-small_device--dots_item
                li.about__slider-small_device--dots_item
                li.about__slider-small_device--dots_item
            .about__slider-small_device--btn
                img(src="/assets/img/icons/play.png" alt="arrow in circle").about__slider-small_device--icon
            .about__slider-team Meet our team
        .about__bg-slider
        .about__employee
            .about__employee-persinfo
                .about__employee-picwrap
                    img.about__employee-pic(src="/assets/img/mila.jpg" alt="piece of heaven employee" title="Mila Katsnelson")
                .about__employee-persinfo-name Mila
                .about__employee-persinfo-lastname Katsnelson
                .about__employee-persinfo-position owner
                .about__employee-persinfo-desc
                    p.
                        some description some descri ptionsome description some description some description some
                        descri ptionsome description some description some description some descri ptionsome
                        description some description some description some descri ptionsome description some description
                        some description some descri ptionsome description some description
        .about__bg-slider.about__bg-slider--lobby
        .about__employee
            .about__employee-persinfo
                .about__employee-picwrap.about__employee-picwrap--right
                    img.about__employee-pic(src="/assets/img/andrey.jpg" alt="piece of heaven employee" title="Andrey Kostka")
                .about__employee-persinfo-name Andrey
                .about__employee-persinfo-lastname Kostka
                .about__employee-persinfo-position funeral director
                .about__employee-persinfo-desc
                    p.
                        some description some descri ptionsome description some description some description some
                        descri ptionsome description some description some description some descri ptionsome
                        description some description some description some descri ptionsome description some description
                        some description some descri ptionsome description some description
        .about__bg-slider.about__bg-slider--limo
        .about__employee
            .about__employee-persinfo
                .about__employee-picwrap
                    img.about__employee-pic(src="/assets/img/anatolii.jpg" alt="piece of heaven employee" title="Andrey Kostka")
                .about__employee-persinfo-name Anatolii
                .about__employee-persinfo-lastname Tupkalo
                .about__employee-persinfo-position funeral director
                .about__employee-persinfo-desc
                    p.
                        some description some descri ptionsome description some description some description some
                        descri ptionsome description some description some description some descri ptionsome
                        description some description some description some descri ptionsome description some description
                        some description some descri ptionsome description some description


