.contacts__title Contacts
ul.contact__list
    li.contact__list-item 303-369-9500
    li.contact__list-item 303-369-8382 (fax)
    li.contact__list-item 10200 E Mississippi Ave, Denver CO, 80247
    li.contact__list-item pieceofheavendenver@yahoo.com
.map__over-line please feel free to call us day or night
.map__display#map
.form__wrap#contact-form
    .contct-form__title  get in touch
    .contact__form-alert
        form#contact_form.contact-form
            .contact-box__error
            input.contact-form__input(type="text" placeholder="name" name="name")
            input.contact-form__input(type="text" placeholder="phone" name="phone")
            input.contact-form__input(type="mail" placeholder="email" name="email")
            textarea.contact-form__message(placeholder="text" name="message")
            input.contact-from__button(type="button" value="submit")


