header.header
    .header__bg
        picture
            source(srcset="/assets/img/header_bg.jpg" media="(min-width: 1500px)")
            source(srcset="/assets/img/header_bg-l.jpg" media="(min-width: 1200px)")
            source(srcset="/assets/img/header_bg-m.jpg" media="(min-width: 920px)")
            source(srcset="/assets/img/header_bg-s.jpg" media="(min-width: 768px)")
            img.header__bg-pic(src="assets/img/header_bg-xs.jpg" alt="heaven")
    .top_line
        .top_line__content
            .top_line__phone
                .top_line__phone-icon
                    img.phone__icon(src="assets/img/icons/phone.png" alt="phone icon")
                .top_line__phone-text 303-369-9500
            .top_line__lang
                .lang__en EN
                a(href="/pieceofheavenfuneralhome.ru.com").lang__rus RUS
    .header__title
        .header__title-pic--wrap
            img.header__title-pic(src="assets/img/main-title.png" alt="funeral home logo" title="piece of heaven funeral home")
        h1.header__desc funeral and cremation services

