header.main_header
    .main_header__container
        .main_header__bg
            picture
                source(srcset="/assets/img/header_bg.jpg" media="(min-width: 1500px)")
                source(srcset="/assets/img/header_bg-l.jpg" media="(min-width: 1200px)")
                source(srcset="/assets/img/header_bg-m.jpg" media="(min-width: 920px)")
                source(srcset="/assets/img/header_bg-s.jpg" media="(min-width: 768px)")
                img.main_header__bg-pic(src="assets/img/header_bg-xs.jpg" alt="heaven")
        .top_line
            .top_line__content
                .top_line__phone
                    .top_line__phone-icon
                        img.phone__icon(src="assets/img/icons/phone.png" alt="phone icon")
                    .top_line__phone-text 303-369-8382
                .top_line__lang
                    .lang__en EN
                    a(href="#").lang__rus RUS
        .main_header__title
            .main_header__title-picwrap
                picture
                    source(srcset="/assets/img/main-title.png" media="(min-width: 1200px)")
                    source(srcset="/assets/img/main-title.png" media="(min-width: 768px)")
                    img.main_header__title-pic(src="assets/img/main-title.png" alt="funeral home logo" title="funeral and cremation services")
            h1.main_header__title-maindesc Funeral home
            h2.main_header__title-secdesc funeral and cremation services
            .main_header__title-slogan Call us and we take care of all your difficulties



