section.obits__content
    .obits__title Obituaries
    .obits__serch
        form.searching-form
            input.search_input(type="text" placeholder="serch" name="search")
            button.search__btn find obituary
        .obits__search-worning * this obituaries list contains date for last 12 months only
    .obits__container
        ul.obits__list
            -
                var obitslistData = [
                    ['/assets/img/zorya.jpg', 'First', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                    ['/assets/img/zorya.jpg', 'first', 'last', '/obits-single.html'],
                ];

            each item in obitslistData
                li.obits__list-item
                    .obits__list-img-wrap
                        img(src=`${item[0]}`).obits__list-img
                    .obits__list-firstname #{item[1]}
                    .obits__list-lastname #{item[2]}
                    .obits__list-links-wrap
                        a(href=`${item[3]}`).obits__list-link view



