section.services__content
    .services__title Services
    .services__main-desc
        .services__main-section-text
            p.
                Our caring and experienced professionals are here to support you. We offer a range of
                personalized services to suit your family’s wishes and requirements, and whether it is a
                traditional funeral or direct cremation, you can count on us to help  you plan a personal,
                lasting tribute to your loved one. We will carefully guide you through the Please feel free
                to call us at any time of the day, any day of the week, for immediate assistance. Or, visit our
                funeral home in person at your convenience. We also provide a wealth of information
                here on our web site so you can learn more from the privacy of your own home
        ul.services__first-list
            li.services__list-item Burial
            li.services__list-item Cremation
            li.services__list-item SSI is eccapting
        .services__main-section-text
            p.
                We offer a complete range of quality services that may be tailored to meet your family's
                individual needs. We are sure you will find our chapel more than accommodating. However,
                if you wish to choose your own house of worship, we will be there to help you with the
                arrangements.
        ul.services__second-list
            li.services__list-item Jewish funeral packeges
            li.services__list-item Christian funeral packeges
            li.services__list-item Cremation packages
        .services__main-section-text
            p.
                Our staff is trained and licensed to assist you with every detail of making funeral and
                cremation arrangements. This includes offering advice and guidance throughout
                the decision-making process, answering questions about local customs and costs and assuring
                that legal requirements are met. We take great pride in our service to our communities and
                in the level of personalized attention we are able to offer all families.
            p.
                Our staff is multilingual. We speak English, Russian, Ukranian. Arrangements can be made
                in the comfort of your home or at our offices. We accept all insurance company payments.
                We accept SSI claims processing. Special Benefits for US Veterans Our staff is available
                24 hours 7 days a week, for all your funeral needs
    ul.services__list
        li.services-content__list-item
            .services__item-title-wrap
                h2.services__item-title Cremation
                .services__item-title-arrow
            .services__content-wrap
                .cremation__content
                    p.
                        Cremation is chosen by many families and individuals as an altemative to traditional burial.
                        However, cremation often follows a traditional funeral service. It is selected for many reasons
                        ranging from religious beliefs or ethnic customs to cost. There are a variety of options for
                        the final disposition of cremated remains. Urns or other containers may be placed in a niche
                        at a columbarium, a structure or room designed to contain cremated remains.
                    p.
                        Families may elect to bury the urn in a family plot or cemetery or keep it in another
                        place of personal significance, such as the home. It is helpful to consider all the options and
                        take the time to ask questions before making a final decision about such an important event.
                        One of our licensed funeral directors will help answer any question you may have.
                        Making an informed choice can help assure peace of mind for everyone involved
        li.services-content__list-item.services__active
            .services__item-title-wrap
                h4.services__item-title Some of our prices
                .services__item-title-arrow
            .services__content-wrap
                .gen-price__content
                    .gen-price__desc
                        p for the complete price list of our services and merchandises please call us 720-862-8865 or use
                        a(href="/contacts.html")  form request
                        p to have one provided
                    .price-list
                        .price-list__names
                            p Body removal:
                            p Caskets:
                            p Urns:
                            p Casketing and cosmetics:
                            p Embalming:
                            p Chapel:
                            p Funeral director & staff:
                            p Hearsing:
                            p Rental casket and attributes:
                        .price-list__price
                            p $195
                            p $1200 and up
                            p $65 and up
                            p $495
                            p $895
                            p $400
                            p $210
                            p $225
                            p $595
                        .price-list__desc
                            p (inside of 30ml around area, if weight of body is not over that 300lb)
                            p (compete prise list can be provided)
                            p (compete prise list can be provided)
                            p -
                            p (in case of autopsy plus $200)
                            p (renting chapel on weekend and holidays or over work time plus $300)
                            p -
                            p -
                            p -
                    .price-list--s
                        -
                            var priceList = [
                            ['Body removal -', '$195', '(inside of 30ml around area, if weight of body is not over that 300lb)'],
                            ['Caskets - ', '$1200 and up', '(compete prise list can be provided)'],
                            ['Urns - ', '$65 and up', '(compete prise list can be provided)'],
                            ['Casketing and cosmetics - ', '$495', ''],
                            ['Embalming - ', '$895', '(in case of autopsy plus $200)'],
                            ['Chapel - ', '$400', '(renting chapel on weekend and holidays or over work time plus $300)'],
                            ['Funeral director & staff - ', '$210', ''],
                            ['Hearsing - ', '$225', ''],
                            ['Rental casket and attributes - ', '$595', '']
                            ];
                        each item in priceList
                            .price-list__price-wrap
                                .price-list__name--s #{item[0]}
                                .price-list__price--s #{item[1]}
                            .price-list__desc--s #{item[2]}
                    .gen-price_-worrning !!! these prices are subject to change

        li.services-content__list-item.services__active
            .services__item-title-wrap
                h3.services__item-title Social Security services
                .services__item-title-arrow
            .services__content-wrap
                .ss__picter-wrap
                    img(src="/assets/img/SSI_logo.png").ss__pic
                .ss__text
                    p.
                        Some of the deceased's family members may be able to receive
                        Social Security benefits if the deceased person worked long enough
                        under Social Security to quality for benefits.  You should get in touch
                        with Social Security as soon as you can to make sure the family receives
                        all of the benefits to which it may be entitled.  Please read the following
                        information carefully to learn what benefits may be available.
                        A one-time payment of $255 can be paid to the surviving spouse if he
                    p.
                        or she was living with the deceased; or, if living apart, was receiving certain Social Security
                        benefits on the deceased's record.  If there is no surviving spouse, the payment is made to a
                        child who is eligible for benefits on the deceased's record in the month of death.Certain f
                        amily members may be eligible to receive monthly benefits, including:
                .ss__text-inner-list
                    .ss__text-inner-list-wrap
                        -
                            var ssInnerList = [
                            '- A widow or widower age 60 or older (age 50 or older if disabled)',
                            '- A surviving spouse at any age who is caring for the deceased,s child under age 16 or disabled',
                            '- An unmarried child of the deceased who is younger than age 18 (or age 18 or 19 if he or she is a full-time student in an elementary or secondary school); or age 18 or older with a disability that began before age 22',
                            '- Parents, age 62 or older, who were dependent on the deceased for at least half of their support, and a surviving divorced spouse, under certain circumstances'
                            ]
                        each item in ssInnerList
                            .ss__inner-list-item #{item}
                .ss__text
                    p.
                        The Social Security website is a valuable resource for information about all of Social Security's
                        programs. There are a number of things you can do online. In addition to using the
                        Social Security website, you can call them toll-free at 1-800-772-1213.
                        Staff can answer specific questions from 7 a.m. to 7 p.m., Monday through Friday.  T
                        hey can also provide information by automated phone service 24 hours a day.  I
                        f you are deaf or hard of hearing, you may call the TTY number at 1-800-325-0778.



