.under_menu
    ul.under_menu__list
        li.under_menu__item
            .under_menu__icon-box
                img.under_menu__icon(src="/assets/img/icons/inter.png" alt="international shipping icon")
            .under_menu__title international shipping
        li.under_menu__item
            .under_menu__icon-box
                img.under_menu__icon(src="/assets/img/icons/all_relig.png" alt="mult religion icon")
            .under_menu__title any religion services
        li.under_menu__item
            .under_menu__icon-box
                img.under_menu__icon(src="/assets/img/icons/hs.png" alt="memorial design icon")
            .under_menu__title memorial design

