@media(max-width: 1500px){
  .footer-menu__item{
    padding: 10px 30px;
  }
  .footer__btm-wrap{
    width: 50%;
  }

}

@media(max-width: 1200px){
  .menu__link{
    font-size: 18px;
  }
  .footer-menu__item{
    padding: 10px 10px;
  }

  .about__employee-persinfo{
    width: 70%;
  }

  .under_menu__item{
    font-size: 22px;
  }
  .under_menu__icon-box{
    width: 45px;
    height: 45px;
  }
  .top_line__content{
    padding: 10px 150px;
  }

  .footer__btm-wrap{
    width: 70%;
  }
  .contact__list{
    width: 65%;
  }

}

@media(min-width: 1501px) {
  .main_header__container{
    min-height: 1200px;
  }

}
@media (min-width: 2100px) {
  .direction__arrow-wrap{
    opacity: 0;
  }
  .home-page__obits-arrow-left, .home-page__obits-arrow-right{
    display: none;
  }
  .obits__list-bg, .obits__list-bg-left{
    display: none;
  }
  .home-obits__list-wrap {
    transform: translateX(4%);
  }
}
