@media(max-width: 768px){
  .top_line__content{
    padding: 5px 10px;
  }
  .top_line__phone-text{
    font-size: 22px;
  }
  .top_line__phone-icon{
    width: 35px;
    height: 35px;
  }
  .top_line__lang{
    font-size: 18px;
  }
  .main_header__title-slogan{
    font-size: 22px;
  }

  .home__main-title{
    font-size: 32px;
    line-height: 44px;
  }
  .home__main-desc{
    width: 96%;
    padding: 30px 0;
  }
  .home__direct-links-wrap{
    flex-direction: column;
    padding: 30px 0;
  }
  .home__direct-link{
    font-size: 18px;
    padding: 5px 15px;
    margin: 5px 0;
  }
    //---------------------------------------------  under  menu
  .under_menu{
    padding: 0;
  }
  .under_menu__icon-box{
    width: 30px;
    height: 30px;
  }
  .under_menu__title{
    margin-left: 5px;
    font-size: 16px;
  }
  .under_menu__list{
    padding: 5px 10px;
  }

  //----------------------------------------------- home obits
  .direction__arrow-wrap{
    padding: 0;
  }

  .home_obits__item-innerwrap{
    width: 250px;
  }
  .obit__img-wrap{
    height: 280px;
  }
  .home-obits__list-wrap{
    margin-bottom: 100px;
    min-height: 540px;
  }

//  -----------------------------------------------------  about
  .about__top-desc{
    padding: 20px 15px;
  }
  .about__employee-picwrap{
    margin-bottom: 20px;
  }
  .about__employee{
    min-height: 600px;
  }

  .about__pic-wrap--limo{
    background-image: url('/assets/img/limo-s.jpg');
  }
  .about__pic-wrap--lobby{
    background-image: url('/assets/img/lobby-s.jpg');
  }
  .about__pic-wrap--chapel{
    background-image: url('/assets/img/chapel-s.jpg');
  }
  .about__employee-persinfo{
    width: 90%;
  }
  .about__employee-persinfo-desc{
    padding-bottom: 10px;
  }
  .about__employee-persinfo-position{
    color: #000;
  }
    //  ----------------------------------------------------- obits
  .search_input{
    margin-right: 0;
  }
  .obits__info-btm-wrap{
    width: 70%;
    @include flex(column, center, space-between);
  }
  .obits__info-title{
    font-size: 32px;
  }
  .obits__info-date{
    margin-left: 0;
    margin-bottom: 10px;
  }
  .obits__info-cemetery{
    margin-left: 0;
  }
  .searching-form{
    @include flex(column, center, center);
  }
  .search_input{
      margin-bottom: 10px;
  }
  .search__btn{
    margin: 0;
  }
  .obits__info-wrap{
    display: block;
  }
  .obits__info-btm-wrap{
    text-align: center;
  }
  .obits__item{
    width: 96%;
  }
  .obits__info{
    margin: 0 auto;
  }
  .obits__info-btm{
    @include flex(row, space-between, center);
    width: 100%;
  }
  .obits__info-date{
    margin: 0;
  }
  .obits__item-text{
    text-align: center;
  }
//  -------------------------------------------------------------   services
  .services__tabs-item{
    font-size: 18px;
  }
  .services__tabs-title{
    padding: 10px;
  }
  .services__tabs-cont-list{
    min-height: 920px;
  }
  .services__main-desc{
  text-align: center;
    width: 96%;
  }
  .services__hilight-list{
    flex-direction: column;
  }
  .services__hilight-list-item{
    padding: 15px 0;
  }
  .price-list{
    display: none;
  }
  .price-list--s{
    display: block;
  }
  .ss__text{
    font-size: 18px;
    padding: 20px;
    line-height: 26px;
  }
  .ss__picter-wrap{
    margin: 10px;
  }
  .ss__text-inner-list-wrap{
    padding: 10px;
    width: 90%;
  }

  //------------------------------------------------------------pre-plan and feedback
  .preplan__content{
    font-size: 20px;
    line-height: 28px;
  }
  .preplan__title{
    font-size: 36px;
  }

  .feedbacks__content-title{
    font-size: 36px;
  }
  .feedbacks__form-title{
    font-size: 24px;
  }
  .feedback-form__input, .feedback-form__message, .feedback-from__button{
    width: 280px;
  }

 // ------------------------------------------------  contacts
  .contacts__title{
    font-size: 36px;
  }
  .contact__list{
    width: 99%;
    box-shadow: none;
  }
  .contact__list-item{
    font-size: 18px;
  }
  .map__over-line{
    padding: 7px 0;
    font-size: 16px;
  }
//  -------------------------------------------------  admin
  .obits__data-form{
    width: 200px;
  }
  .admin-obits__input{
    width: 200px;
  }
  .admin-obits__input--file {
    width: 130px;
  }
  .admin__footer{
    height: 120px;
  }
}