.admin__header{
  background: $blue;
  padding: 30px 0 30px 50px;
}
.admin__header-title {
  @include font(32px, $text, #fff);
}
.admin__header-desc{
  @include font(18px, $text, #fff);
}


.login__error{
  color: #ff0000;
  text-align: center;
  height: 30px;
}
.login__popup{
  box-sizing: border-box;
  padding-top: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#000, .9);
}
.login__form{
  margin: 0 auto;
  padding: 30px 0;
  @include flex(column, center, center);
  width: 250px;
  min-width: 350px;
  border: 2px solid #fff;
}
.admin-login__input{
  width: 200px;
  height: 35px;
  margin-bottom: 30px;
}
.admin__button{
  cursor: pointer;
  padding: 10px 30px;
  background: $blue;
  color: #fff;
  &:hover{
    opacity: .8;
  }
}
.admin__result{
  text-align: center;
  font-size: 18px;
  color: #D51B2C;
}

.obits__data-form{
  margin: 50px;
  padding: 20px;
  width: 350px;
  background: rgba(150, 213, 200, 0.95);
  @include flex(column, center, center);

}

.admin-obits__input{
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
  border: 1px solid $blue;
}

.admin__footer{
  width: 100%;
  height: 70px;
  background: $blue;
  position: absolute;
  bottom: 0;
}
.admin-footer__menu{
  margin: 0 auto;
  height: 70px;
  @include flex(row, center, center);
}

.admin-footer-menu__link{
  padding: 10px 15px;
  color: #fff
}

