.header{
  height: 800px;
}
.header__bg{
  position: absolute;
  z-index: -9;
  width: 100%;
}
.header__bg-pic{
  width: 100%;
}

.header__title{
  background: rgba(#000, .5);
  @include flex(column, center, center);
}
.header__title-pic--wrap{
  margin-bottom: 40px;
}
.header__title-pic{
  width: 100%;
}

.header__desc{
  height: 60px;
  @include font(24px, $text, #fff);
}
.header__page-name{
  opacity: .4;
  margin-top: -50px;
  @include font(16px, $text, #fff);
  height: 100px;
}