.home__content{
  position: relative;
}
.home__main-tile{
  text-align: center;
  @include font(42px, $title, $gray);
  padding: 90px 0;
}
.home__top-title{
  text-align: left;
  background-image: url("/assets/img/bg.png");
  background-size: cover;
}
.home__top-title-wrap{
  margin: 0 auto;
  width: 60%;
  padding: 120px 0;
}
.top-title__desc{
  @include font(28px, $text, $gray);
  margin-bottom: 20px;
}
.top-title__desc-text{
  font-weight: 200;
  @include font(20px, $text, $gray);
  line-height: 26px;
  margin-bottom: 50px;
}
.top-title__buttons{
  @include flex(row, flex-start, center);
}
.top-title__link {
  padding: 7px 25px;
  @include font(20px, $text, $blue);
  border: solid 1px $blue;
  transition: .3s;

  &:hover {
    background: $blue;
    color: #fff;
  }
}
.top-title__link--margin{
  margin-left: 30px;
}


.obits__slider-wrap{
  width: 80%;
  margin: 0 auto;
  @include flex(row, center, center);
}

.obits__home-title{
  @include font(42px, $title, $gray);
  text-align: center;
  padding: 60px 0 60px 0;
}
.home-obits__list-wrap{
  width: 96%;
  min-height: 600px;
  transform: translateX(2%);
  @include flex(row, center, center);
  margin-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.home-page__obits-arrow-left, .home-page__obits-arrow-right{
  top: 72%;
  z-index: 9999;
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: 50px;
  margin: 15px;
  opacity: .5;
  &:hover{
    opacity: .7;
  }
}
.home-page__obits-arrow-left{
  left: 0;
}
.home-page__obits-arrow-right{
  right: 0;
}
.obits__arrow-icon{
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.home_obits__list{
  position: absolute;
  left: 10px;
  @include flex(row, center, center);
  transition: .3s;
}
.obits__list-bg, .obits__list-bg-left{
  z-index: 10;
  position: absolute;
  width: 10%;
  height: 100%;
}
.obits__list-bg{
  right: 0;
}
.obits__list-bg-left{
  left: 0;
}

.obits_test_right{
  margin-right: -30%;
}
.home_obits__item{
  box-sizing: border-box;
  padding: 15px;
}
.home_obits__item-innerwrap{
  background: #fff;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .4);
  padding: 5px;
  width:350px;
}
.obit__img-wrap{
  background-image: url("/assets/img/obit_bg.jpg");
  background-size: cover;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}
.obit__img{
  width: 100%;
}

.obit__firstname, .obit__lastname{
  padding: 0 15px;
  @include font (24px, $text, $gray);
}

.obit_date{
  @include font (20px, $title, $gray);
  padding: 15px 0 0 15px;
}
.obit_link-wrap{
  text-align: right;
  padding-bottom: 15px;
  padding-right: 15px;
}
.obit__link{
  font-size: 18px;
  padding: 7px 20px;
  border: 1px solid $blue;
  color: $blue;
  margin-bottom: 20px;
  transition-duration: .3s;
  &:hover{
    color: #fff;
    background: $blue;
  }
}

