.preplan__title{
  @include font(42px, $title, $gray);
  text-align: center;
  padding: 30px 0;
  opacity: 0;
  transition: 1.5s;
}
.preplan__content{
  @include font(20px, $text, $gray);
  line-height: 32px;
  padding: 10px;
}