extends ../_template

block variables
    - var admin = 'Home page'

block content
    .admin__header
        .admin__header-title   admin
        .admin__header-desc Piece of Heaven funeral and cremation services
    .admin__content
        .login__popup
            form.login__form#login-form
                .login__error
                input.admin-login__input(type="text" placeholder="login" name="login")
                input.admin-login__input(type="text" placeholder="password" name="password")
                input.admin__button(type="button" value="submit")
        .obits__data-wrap
            form.obits__data-form#obits-data
                input.admin-obits__input(type="text" placeholder="name" name="name")
                input.admin-obits__input(type="text" placeholder="lastname" name="lastname")
                input.admin-obits__input(type="date" placeholder="date" name="date")
                input.admin-obits__input(type="text" placeholder="cemetery" name="cemetery")
                input.admin-obits__input(type="text" placeholder="text" name="text")
                input(type="file" name="picture")
                input.admin__button(type="button" value="submit")
        .admin__result
    .admin__footer
        ul.admin-footer__menu
            -
                var footerMenuData = [
                ['home', 'index.html'],
                ['about', 'about.html'],
                ['obituaries', 'obits.html'],
                ['services', 'services.html'],
                ['pre-planning', 'pre-planning.html'],
                ['feedbacks', 'feedbacks.html'],
                ['contacts', 'contacts.html'],
                ['memorials', '#']
                ]

            each item in footerMenuData
                li.admin-footer-menu__item
                    a(href=`${item[1]}`).admin-footer-menu__link #{item[0]}







